#img1{
position:absolute;
top:20px;
left:10px;
}

#img2{
position:absolute;
top:20px;
left:600px;
}

#img3{
position:absolute;
top:20px;
left:1200px;
}

#img4{
position:absolute;
top:20px;
left:1800px;
}
